/* 
    General Styles
*/

#Cards1 {

    width: 1000px;
    height: 300px;
    display: flex; 
    display: flex; align-items: center; justify-content: center;
    
}
#button2 {
    width: 1300px;
    
}
